.gh-link {
  position: fixed;
  top: 8px;
  left: 8px;
  display: flex;
}

.gh-link::before {
  content: "";
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background-image: url("./icon.svg");
  background-size: contain;
}
