:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0c1821;
  background-color: #fff;
  background-image: linear-gradient(
    109.6deg,
    rgba(17, 151, 147, 1) 11.2%,
    rgba(154, 214, 212, 1) 55.4%,
    rgba(255, 233, 171, 1) 100.2%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code {
  height: 470px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 16px;
  overflow: hidden;
}
